
body {
  background-color: #eeeeee;
}

.md-center {
  display: flex;
  justify-content: center;
}

.form-payment {
  background-color: #fff;
  margin-top: 7vw;
  padding: 6%;
  border-radius: 1%;
  height: auto;
}

.r-b {
  background-color: #1e88e5;
  position: absolute;
  width: 100%;
  height: 20vw;
}

.d-img {
  width: 15vw;
}

hr {
  margin: 4%;
}

.footer {
  height: 6vw;
  background-color: #CCC;
  margin-top: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-footer {
  padding: 0;
  margin: 0;
}

.tcosto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

p {
  margin: 0;
}

.payment {
  color: #009688;
  font-size: 2.5vw;
}

.p-total {
  font-size: 2.5vw;
  color: #9e9e9e;
}


.error {
  color: red;
  
}

/*  payment design card */
